$tabletMin: 636px;
$cloud_purple: #783a9c;
$cloud_peach: #ff9178;
*{
    font-family: 'Varela Round', sans-serif;
}
body{
    background-image: url('cloud_bg3.jpg');
    background-repeat: no-repeat;
    margin: 0;
}

h3{
    text-align: center;
    color:$cloud_purple;
    font-weight: 700;
    font-size: 1.5rem;
}
.toggleBox{
    margin: auto;
    text-align: center;
}
label{
    color: $cloud_purple;
}
.toggle{
    
    text-align: center;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    label{
        display: inline;
    }
    
}
input{
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider{
        background-color: $cloud_peach;
    }
    &:focus + .slider{
        box-shadow: 0 0 1px #2196f3;
    }
    &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
       transform: translateX(26px);
       background-color: $cloud_purple;
    }
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $cloud_purple;
    -webkit-transition: .4s;
    transition: .4s;

    &:before{
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $cloud_peach;
        -webkit-transition: .4s;
        transition: .4s;
    }
}
.round{
    border-radius: 34px;
    &:before{
        border-radius: 50%
    }
}
hr{
    width: 70%;
}
.mainContainer{
    width: 1000px;
    margin: 0 auto;
}
.cardContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 2px;
    align-items: center;
    height: 400px;
}
.card{
    background-color: $cloud_peach;
    color: $cloud_purple;
    display: inline-block;
    border-radius: 5px;
    padding-bottom: 20px;
    height: 80%;
    box-shadow: black 0px 1px 1px;
    
    p, h2{
        text-align: center;
        font-size: 1.1rem;
    }

    button{
        width: 70%;
        height: 30px;
        margin: 20px auto;
        display: block;
        border-radius: 5px;
        color: $cloud_purple;
        border: 1px solid black;
        background-color: $cloud_peach;
        &:hover{
            cursor: pointer;
            background-color: $cloud_peach;
            color: $cloud_purple;
        }
    }
}
#bottom{
    background-color: $cloud_purple;
    color: $cloud_peach;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    height: 157px;
}
@media (min-width: $tabletMin) and (max-width: 1050px){
    .mainContainer{
        width: 600px;
        
    }
    .cardContainer{
        height: 800px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 20px;
    }
}
@media (min-width: 360px) and (max-width: $tabletMin){
    .mainContainer{
        width: 300px;
    }
    .cardContainer{
        height: 1600px;
        grid-template-columns: auto;
    }
}

//source cite:
//https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
